.about-section {
  background-color: black; /* Optional: add a background color for contrast */
  max-width: 100%;
  height: 100vh; /* Use 100vh for full viewport height */
  display: flex; /* Use flex to center content if needed */
  overflow: hidden;
}

.about-content {
  display: flex;
  flex-direction: row; /* Default to horizontal layout for desktop */
  align-items: center;
  justify-content: center;
  color: white; /* Set text color to white */
  width: 100%;
}

.text-and-nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  animation: fadeInFromRight 2.5s ease-out; /* Apply the animation */
}

.about-image {
  max-width: 60%;
  height: 100%;
  animation: fadeIn 4s ease-out; /* Apply the fade-in animation */
  object-fit: cover;
}

.about-text {
  color: white; /* Ensure the heading text is white */
  font-size: 20px;
}

.about-text h1 {
  margin-top: 0;
  color: white; /* Ensure the heading text is white */
}

.about-text p {
  margin-bottom: 15px; /* Space between paragraphs */
  color: white; /* Ensure the paragraph text is white */
}

.about-section .navigation {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between each nav item */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-section .nav-item {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-family: "Open Sauce", sans-serif;
  text-transform: uppercase;
  opacity: 1; /* Make items visible */
}

.about-section .nav-item:hover {
  background-color: rgba(
    64,
    64,
    64,
    0.7
  ); /* Grayish background color on hover */
  color: white; /* Keep the text white */
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(180px); /* Start from the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the normal position */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .about-section .navigation {
    gap: 5px; /* Space between each nav item */
  }

  .about-section .nav-item {
    font-size: 16px;
  }

  .about-section {
    background-color: black; /* Optional: add a background color for contrast */
    max-width: 100%;
    height: 100%;
    display: flex; /* Use flex to center content if needed */
    overflow-x: hidden;
  }

  .about-content {
    width: 100%;
    flex-direction: column; /* Stack vertically on mobile */
    justify-content: center;
    align-items: center;
  }

  .text-and-nav-container {
    animation: none;
  }

  .about-image {
    max-width: 100%;
    animation: none;
    height: auto;
  }

  .about-text {
    font-size: 15px;
    padding: 15px;
  }
}
