/* LandingPage.css */
.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.landing-page .logo {
  display: flex;
  width: 175px;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

.landing-page .logo img {
  width: 300px;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Keep original size */
  height: 100%;
  transform: translate(-50%, -50%) scale(1.5); /* Scale the video */
  object-fit: cover;
  z-index: -1;
}

.background-video-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150vw; /* Make the shadow video larger */
  height: 150vh;
  object-fit: cover;
  transform: translate(-50%, -50%); /* Center it */
  z-index: -2; /* Places the video further behind */
  filter: blur(10px); /* Apply blur effect */
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 150px;
  top: 75%;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 50px; /* Space between each nav item */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Text links (Videos, Photos, About) */
.landing-page .nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
  cursor: pointer;
  position: relative; /* Make sure the ::after pseudo-element is positioned relative to this element */
  opacity: 0; /* Initially hidden */
  animation: fadeInUp 1.5s ease-in-out forwards; /* Animation for the nav items */
  font-family: "Open Sauce", sans-serif;
  text-transform: uppercase;
  margin-left: 0px;
}

.landing-page .nav-item:hover {
  color: white; /* Change text color to white on hover */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.2); /* Highlight effect */
}

/* Dropdown container - Initially hidden */
.landing-page .nav-item .dropdown {
  visibility: hidden; /* Hide by default */
  opacity: 0;
  position: absolute;
  top: 20px; /* Adjusted from 30px to 20px */
  left: 0;
  background-color: transparent; /* Transparent background */
  border-radius: 5px;
  width: 100%; /* Match the width of the parent .nav-item */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  transition: visibility 0s, opacity 0.3s ease-in-out; /* Smooth fade-in */
  transform: translateY(-20px); /* Start the dropdown slightly above */
}

/* Dropdown items */
.landing-page .dropdown-item {
  color: white;
  text-decoration: none;
  padding: 8px 16px; /* Add padding */
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  transition: background-color 0.3s ease, opacity 0.3s ease;
  width: 100%; /* Ensure the width is the same as the parent */
  font-size: 14px; /* Smaller font size */
  border-radius: 5px; /* Border corners for the dropdown items */
  opacity: 0.8; /* Make the items slightly transparent */
}

.landing-page .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Light background on hover */
  opacity: 1; /* Full opacity on hover */
}

/* Keyframes for the fade-in and slide-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(85px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

/* Show the dropdown when it's visible (mobile) */
.landing-page .dropdown.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Slide the dropdown in */
}

@media only screen and (min-width: 600px) {
  /* Desktop: Show the dropdown on hover */
  .landing-page .nav-item:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide the dropdown in */
  }
}

.landing-page h1 {
  opacity: 0; /* Initially hidden */
  animation: fadeInUp 1.5s ease-in-out forwards; /* Apply the animation */
  font-size: 100px;
}

@media only screen and (max-width: 600px) {
  .navigation {
    gap: 18px;
  }
  .landing-page .nav-item .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 30px;
  }

  .landing-page .dropdown.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide the dropdown in */
  }

  .landing-page .nav-item:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Slide the dropdown in */
  }
  .landing-page h1 {
    opacity: 0; /* Initially hidden */
    animation: fadeInUp 1.5s ease-in-out forwards; /* Apply the animation */
    font-size: 140px;
  }

  .landing-page .nav-item {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    opacity: 0; /* Initially hidden */
    animation: fadeInUp 1.5s ease-in-out forwards; /* Animation for the nav items */
    font-family: "Open Sauce", sans-serif;
  }

  .landing-page .dropdown-item {
    font-size: 10px; /* Smaller font size for mobile */
    padding: 4px 8px;
  }

  .content {
    top: 70%;
    gap: 100px;
  }

  .landing-page .logo {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .landing-page .logo img {
    width: 175px;
  }
}
