.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo img {
  width: 200px; /* Adjust as needed */
}

.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-link {
  background-size: 24px 24px;
}
p {
  margin: 0;
}
.introductory-text-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 20px;
}

.introductory-text {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

.introductory-text-I {
  font-size: 36px;
}

.introductory-text-II {
  font-size: 30px;
}

.introductory-text-III {
  font-size: 26px;
}

.contact-details-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  padding-top: 50px;
}

.contact-details-text {
  text-align: flex-start;
  color: white;
}

.contact-details-text-I {
  font-size: 36px;
}

.contact-details-text-II {
  font-size: 18px;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.videos-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  gap: 200px;
}

.videos {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  gap: 5%;
  width: 100%;
  overflow: hidden;
}

.video {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 100px;
}

.horizontal-video {
  width: 100%;
  margin-left: 2.5%;
}

.contact {
  text-align: center;
  margin-bottom: 20px;
}

.contact hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px auto;
  width: 90%; /* Adjust as needed */
}

@media only screen and (max-width: 600px) {
  .introductory-text-I {
    font-size: 22px;
  }

  .introductory-text-II {
    font-size: 18px;
  }

  .introductory-text-III {
    font-size: 14px;
  }

  .videos-container {
    gap: 50px;
  }
}
