@font-face {
  font-family: "Korataki";
  src: url("./assets/fonts/Korataki.ttf") format("truetype"); /* Adjust the path */
  /* You can add more src declarations for different font file formats */
}

p {
  line-height: 1.5;
  font-family: "Korataki", sans-serif;
}
