@font-face {
  font-family: "Korataki";
  src: url("./assets/fonts/Korataki.ttf") format("truetype"); /* Adjust the path */
  /* You can add more src declarations for different font file formats */
}

body {
  font-family: "Open Sauce", sans-serif;
}

/* Apply to specific elements if needed */
h1,
h2,
h3,
p {
  font-family: "Open Sauce", sans-serif;
}
